<div class="container">
  <div class="footer">
    <div class="footer-item"><a href="https://discord.gg/tcatcity">Discord</a></div>
    <div class="footer-item"><a href="https://etherscan.io/token/0x">Etherscan</a></div>
    <div class="footer-item"><a href="https://github.com/tomcatcity">GitHub</a></div>
    <div class="footer-item"><a href="https://t.me/tomcatcity">Telegram</a></div>
    <div class="footer-item"><a href="https://twitter.com/tomcatcity">Twitter</a></div>
    <div class="footer-item"><a href="https://info.uniswap.org/account/0x">Uniswap</a></div>
  </div>
</div>