<div class="container">

  <div class="centered">
    <div class="header"><span class="cursed-text">adopt</span> the meo-gic</div>
  </div>

  <div class="card">
    <p>Stake your <span class="tcat-ticker">TCAT</span> tokens to earn <span class="milk-ticker">MILK</span>.</p>
    <p>Generate enough MILK to adopt a Tomcat NFT.</p>
    <p>Note: MILK is <i>not</i> transferrable, and it is <i>not</i> an ERC-20 token. It's just a point system used by the staking contract.</p>    
    <p>After adopting, you will incur a delay before you can adopt again. You must wait until the specified block to adopt a new cat. The adoption delay doubles each time you adopt, up to a maximum delay of {{maxDelay}} blocks. You can pay TCAT to reset your adoption delay to the base delay and restart the doubling process.</p>
  </div>

  <div class="card">
    <div class="two-cols">
      <div>
        <div class="stake-header">
          <span class="tcat-logo"><img src="./assets/TCAT-logo.png"></span>STAKING <b>TCAT</b>
        </div>
        <div><span>Max stake:</span> <b> {{maxStakeAmount.toFormat()}}</b> <span class="xmon-ticker">TCAT</span></div>
        <div>
          <span>Staking:</span> <b> {{stakedTcat.toFormat()}}</b> <span class="tcat-ticker">TCAT</span>
        </div>
        <div>
          <span>Available:</span> <b> {{tcatBalance.toFormat()}}</b> <span class="tcat-ticker">TCAT</span>
        </div>
        <div class="form-holder">
          <input placeholder="0.0000" class="form" [(ngModel)]="stakeAmount" name="stakeAmountInput">
        </div>
        <button id="add-btn" (click)="stake()">Add Stake</button>
        <button id="remove-btn" (click)="removeStake()" title="Removes all of your staked TCAT">Remove Stake</button>
      </div>
      <div>
        <div class="milk-header">🥛 GENERATING <b>MILK</b></div>
        <div><span>Adoption Cost:</span> <b> {{milkFee}}</b>  <span class="milk-ticker">MILK</span></div>
        <div><span>Balance:</span> <b> {{milkBalance.toFormat()}} </b> <span class="milk-ticker">MILK</span></div>
        <div><span>Rate:</span> <b> {{getMilkPerHour()}}</b> <span class="milk-ticker">MILK</span> / hour</div>
      </div>
    </div>
  </div>

  <div class="card adopt-card">
    <div class="adopt-header">🌀 ACTUAL ADOPTION PORTAL</div>
    <hr>
    <div><b>{{numCats}}/{{maxCats}} Tomcats adopted</b></div>
    <hr>
    <div>Current block: <b>{{blockNumber}}</b> </div>
    <div class="adopt{{adoptAvailable()}}">Adoption available at block: <b>{{unlockBlock}}</b></div>
    <div>Next sadoption incurs a delay of <b>{{currentDelay}}</b> blocks.</div>
    <div>Resetting delay will set to <b>{{baseDelay}}</b> blocks.</div>
    <div>Reset fee: <b>{{resetFee}}</b> <span class="tcat-ticker">TCAT</span></div>
    <hr>
    <button (click)="resetDelay()">Reset Delay</button>
    <button class="adopt-btn" (click)="claimCat()" [disabled]="!adoptAvailable() ? 'disabled': null">ADOPT Tomcat</button>
  </div>

</div>