<div class="container">

  <div class="centered">
    <div class="header"><span class="cursed-text">summon</span> the ineffable</div>
  </div>

  <div class="card">
    <p>Stake your <span class="xmon-ticker">XMON</span> tokens to earn <span class="doom-ticker">DOOM</span>.</p>
    <p>Generate enough DOOM to summon a 0xmon NFT.</p>
    <p>Note: DOOM is <i>not</i> transferrable, and it is <i>not</i> an ERC-20 token. It's just a point system used by the staking contract.</p>    
    <p>After summoning, you will incur a delay before you can summon again. You must wait until the specified block to summon again. Each time you summon, the summon delay doubles, up to a maximum delay of {{maxDelay}} blocks. You can pay XMON to reset your summon delay to the base delay and restart the doubling process.</p>
  </div>

  <div class="card">
    <div class="two-cols">
      <div>
        <div class="stake-header">
          <span class="xmon-logo"><img src="./assets/XMON-logo.png"></span>STAKING <b>XMON</b>
        </div>
        <div><span>Max stake:</span> <b> {{maxStakeAmount.toFormat()}}</b> <span class="xmon-ticker">XMON</span></div>
        <div>
          <span>Staking:</span> <b> {{stakedXmon.toFormat()}}</b> <span class="xmon-ticker">XMON</span>
        </div>
        <div>
          <span>Available:</span> <b> {{xmonBalance.toFormat()}}</b> <span class="xmon-ticker">XMON</span>
        </div>
        <div class="form-holder">
          <input placeholder="0.0000" class="form" [(ngModel)]="stakeAmount" name="stakeAmountInput">
        </div>
        <button id="add-btn" (click)="stake()">Add Stake</button>
        <button id="remove-btn" (click)="removeStake()" title="Removes all of your staked XMON">Remove Stake</button>
      </div>
      <div>
        <div class="doom-header">💀 GENERATING <b>DOOM</b></div>
        <div><span>Summon Cost:</span> <b> {{doomFee}}</b>  <span class="doom-ticker">DOOM</span></div>
        <div><span>Balance:</span> <b> {{doomBalance.toFormat()}} </b> <span class="doom-ticker">DOOM</span></div>
        <div><span>Rate:</span> <b> {{getDoomPerHour()}}</b> <span class="doom-ticker">DOOM</span> / hour</div>
      </div>
    </div>
  </div>

  <div class="card summon-card">
    <div class="summon-header">🌀 ACTUAL SUMMONING PORTAL</div>
    <hr>
    <div><b>{{numMons}}/{{maxMons}} 0xmons summoned</b></div>
    <hr>
    <div>Current block: <b>{{blockNumber}}</b> </div>
    <div class="summon{{summonAvailable()}}">Summon available at block: <b>{{unlockBlock}}</b></div>
    <div>Next summon incurs a delay of <b>{{currentDelay}}</b> blocks.</div>
    <div>Resetting delay will set to <b>{{baseDelay}}</b> blocks.</div>
    <div>Reset fee: <b>{{resetFee}}</b> <span class="xmon-ticker">XMON</span></div>
    <hr>
    <button (click)="resetDelay()">Reset Delay</button>
    <button class="summon-btn" (click)="claimMon()" [disabled]="!summonAvailable() ? 'disabled': null">SUMMON 0xmon</button>
  </div>

</div>