<div class="mon-container">
  <div class="mon-name">{{monData.name}}</div>
  <div>
    <img class="mon-img" src="{{monData.img}}">
  </div>
  <div>
    <p>Name: {{monData.name}}</p>
    <p>Epithets: {{monData.epithets}}</p>
    <p>Parent 1: <a routerLink="/mon/{{monStruct.parent1Id}}" routerLink="active">{{monStruct.parent1Id}}</a></p>
    <p>Parent 2: <a routerLink="/mon/{{monStruct.parent2Id}}" routerLink="active">{{monStruct.parent2Id}}</a></p>
    <p>Lore: {{monData.lore}}</p>
  </div>
</div>